body{
    background-color: #A70606;
}

.main{
    width: 650px;
    height: 650px;
    background-color: lightgray;
    position: relative;
    top: 100px;
    left: 200px;
}

.gridSquare{
    background-color: white;
    float: left;
    border: .25px solid black;
}

.knobSection{
    height:100px;
    width: 650px;
    position: relative;
    top: 110px;
    left: 200px;
}

.knob{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 2px 2px black;
}

.header{
    height: 100px;
    width: 645px;
    position: relative;
    top: 90px;
    left: 200px;
    border-radius: 25px;
    border: 5px solid #E0A53B;
}

#rightKnob{
    position: relative;
    bottom: 100px;
    left: 550px;
}

#title{
    font-weight: bold;
    font-size: 300%;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #E0A53B;
    position: relative;
    bottom: 20px;
    left: 220px;
}

#resetBtn{
    background-color: #E0A53B;
    color: #A70606;
    font-size: 100%;
    height: 75px;
    width: 75px;
    position: relative;
    bottom: 140px;
    left: 550px;
    border-radius: 50%;
}

#resetBtn:hover{
    border: 3px solid white;
    font-weight: bold;
}