body{
    background-color: #ba2b1b;
}

.main{
    width: 650px;
    height: 650px;
    background-color: lightgray;
    position: relative;
    top: 100px;
    left: 200px;
}

.gridSquare{
    background-color: white;
    float: left;
    border: .25px solid black;
}
